.banner {
  display: flex;
  justify-content: center;
  height: 800px;
  color: white;
  background-color: #48a9a6;
}

.banner-text {
  align-self: center;
}

.banner-text h1 {
  font-size: 3em;
}

.banner-text h3 {
  font-size: 1.5em;
}

.summary {
  display: flex;
  justify-content: center;
  height: 600px;
}

.summary-text {
  max-width: 800px;
  width: 100%;
  margin-top: 30px;
}

.summary-text h2 {
  margin-bottom: 40px;
  color: #48a9a6;
  font-size: 1.9em;
}

.summary-text p {
  font-size: 1.15em;
  line-height: 1.8em;
}

.skills {
  display: flex;
  justify-content: center;
  background-color: #48a9a6;
}

.skills-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -200px;
}

.skill {
  max-width: 300px;
  padding: 20px;
  width: 100%;
  margin: 10px;
  border-radius: 20px;
  background-color: white;
  border: rgb(153, 247, 109) 0.5px solid;
}

i.fa-code {
  color: #48a9a6;
}

i.fa-server {
  color: #48a9a6;
}

.skill-text {
  color: black;
}

.skill-text h3 {
  font-size: 1.6em;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #48a9a6;
  padding-bottom: 20px;
}

.projects-title {
  margin-top: 100px;
  color: white;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 810px;
  border-radius: 20px;
  padding: 25px;
  background-color: white;
}

.project {
  margin: 20px 10px;
  border-radius: 10px;
}

.project img {
  height: 200px;
  border-radius: 10px;
}

.footer {
  background-color: #48a9a6;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-text {
  width: 100%;
  max-width: 700px;
}

.fab {
  padding: 10px;
  text-decoration: none;
  color: white;
}
