.banner {
  display: flex;
  justify-content: center;
  height: 800px;
  color: white;
  /* background-color: #48a9a6; */
}

.banner-text {
  align-self: center;
}

.banner-text h1 {
  font-size: 3em;
}

.banner-text h3 {
  font-size: 1.5em;
}

.summary {
  display: flex;
  justify-content: center;
  height: auto;
  padding-bottom: 70px;
  background-color: white;
}

.summary-text {
  max-width: 800px;
  width: 100%;
  margin-top: 30px;
}

.summary-text h2 {
  margin-bottom: 40px;
  color: #e84929;
  font-size: 1.9em;
}

.summary-text p {
  font-size: 1.15em;
  line-height: 1.8em;
}

.skills {
  display: flex;
  justify-content: center;
  /* background-color: #48a9a6; */
}

.skills-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -60px;
}

.skill {
  max-width: 300px;
  padding: 20px;
  width: 100%;
  margin: 10px;
  border-radius: 20px;
  background-color: white;
  border: rgb(214, 90, 18) 0.5px solid;
}

i.fa-code {
  color: #e84929;
}

i.fa-server {
  color: #e84929;
}

.skill-text {
  color: black;
}

.skill-text h3 {
  font-size: 1.6em;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: #48a9a6; */
  padding-bottom: 20px;
}

.projects-title {
  margin-top: 100px;
  color: white;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 810px;
  border-radius: 20px;
  padding: 25px;
  background-color: white;
}

.project {
  margin: 20px 10px;
  border-radius: 10px;
}

.project img {
  height: 200px;
  border-radius: 10px;
}

.footer {
  /* background-color: #48a9a6; */
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-text {
  width: 100%;
  max-width: 700px;
}

.fab {
  padding: 10px;
  text-decoration: none;
  color: white;
}

@media (min-width: 800px) and (max-width: 1100px) {
  .skills-wrapper {
    margin-top: 60px;
  }

  .projects-wrapper {
    max-width: 700px;
  }

  .project img {
    width: 330px;
  }
}

@media (min-width: 500px) and (max-width: 800px) {
  .skills-wrapper {
    margin-top: 60px;
  }

  .projects-wrapper {
    max-width: 400px;
    padding: 20px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .summary-text {
    font-size: 0.83em;
    padding: 10px;
  }

  .skills-wrapper {
    flex-direction: column;
    margin-top: 0px;
  }

  .skill {
    width: auto;
  }

  .projects-wrapper {
    max-width: 400px;
    padding: 0px;
  }

  .project {
    width: auto;
  }

  .project img {
    width: 100%;
    max-width: 400px;
  }
}
